body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: grey;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.text-center-container{
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #333833;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.text-cente {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #333833;
  border-radius: 5px;
  color: white;  
}

.text-center {
  color: black;
  border-radius: 5px;
  background-color: rgb(254, 248, 248);
}


  h1 {
    margin: 10px 0;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
  }